body {
    color: #040536;
    background-color: #fefefe;

}

h1 {
    color: #000018;
    background-color: dimgray;
}

h2 {
    color: #074079;
}

div {
    border-color: black;

}

section {
    background-color: cornflowerblue;
}

header {
    background-color: darkgray;
}

footer {
    background-color: darkgrey;
}

article {
    background-color: #b5d1ee;
}
nav a {
    color: green;
}
a {
    color: orangered;
}

.navigation {
    background: rgb(140, 235, 131);
    color:rgb(4, 32, 4);
    padding: 15px;
    border: 3px solid #000018;
}
