body {
    color: #040536;
  background-color: #fefefe;
}

h1 {
  color: #000018;
  background-color: dimgray;
}

h2 {
  color: #074079;
}

div {
  border: black;
  display: inline-block;
}



header {
  background-color: darkgray;
}

footer {
  background-color: darkgrey;
}

article {
  background-color: #b5d1ee;
}
nav a {
  color: green;
}
a {
  color: orangered;
}

.navigation {
  background: rgb(140, 235, 131);
  color: #0c2e0c;
  padding: 15px;
  border: 3px solid #193b19;
  border-radius: 25%;
  margin: 5px;
  position: fixed;
  left: 5%;
  top: 5px;
  overflow: auto;
}
.navigation__link {
  padding: 10px;
  font-style: italic;
}
.navigation__link--homepage {
  color: rgb(4, 32, 4);
  padding: 10px;
  font-style: normal;
}
.main {
  margin-top: 70px;
}
#top {
  background-color: aqua;
  color: brown;
  height: 50px;
  max-width: 1000px;
}

#oMnie {
    background-color: cornflowerblue;
    padding: 10px;
    border: 2px solid darkblue;
  }

.article {
    color: #06067a;
    padding: 20px;
    border: 2px solid darkblue;
    border-radius: 5px;
    overflow: auto;
    margin: 10px;
    
    width: 40vw;
    
    height: 260px;
}
.article__paragraph {
    padding: 5px;
  }
.article__title {
    font-style: italic;
    color: #07073b;
}